<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  
  <%= image_tag "sign_up.jpg", class: "sign-pic"%>
  <div class="field-title">
    <h2>新規登録</h2>
  </div>

  <div class="field0">
    <%= f.label :nickname %><br />
    <%= f.text_area :nickname, autofocus: true, autocomplete: "nickname" %>
  </div>

  <div class="field1">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field2">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field3">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%# render "devise/shared/links" %>
